<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detection.mapper.PagerMapper">

    <select id="findByPager" resultType="hashmap">
	select * from t_user limit #{page},#{size}
    </select>


    <select id="count" resultType="long">
        select count(1) from t_user
    </select>

</mapper>