<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.detection.mapper.UserMapper">



    <sql id="userData">
       select  id,school_name as schoolName ,school_code as schoolCode,department,city,school_level as schoolLevel,template_id as templateId,province_code as provinceCode,remark from t_college
    </sql>




    <delete id="removeUser">
        delete from t_college
        where id in
        <foreach collection="userIds" item="id" open="(" close=")" separator="," >
          #{id}
        </foreach>
    </delete>
    <delete id="deleteDBLog">
      delete from t_db_log where id in
      <foreach collection="ids" item="id" separator="," open="(" close=")">
         #{id}
      </foreach>
    </delete>

    <insert id="insertCollege">
        insert into t_college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">school_name,</if>
            <if test="schoolCode != null">school_code,</if>
            <if test="department != null">department,</if>
            <if test="city != null">city,</if>
            <if test="schoolLevel != null">school_level,</if>
            <if test="remark != null">remark,</if>
            <if test="provinceCode != null">#{province_code},</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schoolName != null">#{schoolName},</if>
            <if test="schoolCode != null">#{schoolCode},</if>
            <if test="department != null">#{department},</if>
            <if test="city != null">#{city},</if>
            <if test="schoolLevel != null">#{schoolLevel},</if>
            <if test="remark != null">#{remark},</if>
            <if test="provinceCode != null">#{provinceCode},</if>
        </trim>
    </insert>
    <insert id="insertListCollege">
        insert into t_college (school_name,school_code,department,city,school_level,province_code,remark)
        values
        <foreach collection="colleges" item="item" separator=",">
            (#{item.schoolName},#{item.schoolCode},#{item.department},#{item.city},#{item.schoolLevel},#{item.provinceCode},#{item.remark})
        </foreach>
    </insert>


    <update id="updateCollege">
    update t_college
    <trim prefix="SET" suffixOverrides=",">
        <if test="schoolName != null">school_name=#{schoolName},</if>
        <if test="schoolCode != null">school_code=#{schoolCode},</if>
        <if test="department != null">department=#{department},</if>
        <if test="city != null">city=#{city},</if>
        <if test="schoolLevel != null">school_level=#{schoolLevel},</if>
        <if test="remark != null">remark=#{remark},</if>
    </trim>
    where id = #{id}
    </update>


    <update id="updateDBLog">
        update t_db_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="state != null and state!=''">state=#{state},</if>
        </trim>
        where id=#{id}
    </update>


    <select id="queryCollege" resultType="hashmap">
        select id,school_name as schoolName,school_code as schoolCode,
        department,city,school_level as schoolLevel,template_id as templateId,province_code as provinceCode,remark
        from sys_dict a join t_college b on a.dict_value=b.province_code and a.dict_type='province' and a.state='0'
    </select>

    <select id="queryDBLog" resultType="com.detection.entity.DBLog">
        select oper_person,oper_account,file_path,oper_time,remark from t_db_log
        where state='0' order by oper_time desc limit 1
    </select>
    <select id="queryAllDBLog" resultType="com.detection.entity.DBLog">
         select id,oper_person as operPerson,oper_account as operAccount,file_path as filePath,oper_time as operTime,remark from t_db_log
    </select>
    <select id="queryListDBLog" resultType="com.detection.entity.DBLog">
         select file_path as filePath from t_db_log where id in
         <foreach collection="ids" item="id" separator="," open="(" close=")">
           #{id}
         </foreach>
    </select>

    <insert id="insertDBLog">
        insert into t_db_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="operPerson != null">oper_person,</if>
            <if test="operAccount != null">oper_account,</if>
            <if test="filePath != null">file_path,</if>
            <if test="operTime != null">oper_time,</if>
            <if test="remark != null">remark,</if>
            <if test="state != null">state,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="operPerson != null">#{operPerson},</if>
            <if test="operAccount != null">#{operAccount},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="operTime != null">#{operTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="state != null">#{state},</if>
        </trim>
    </insert>

</mapper>